.posts {
  display: flex;
  flex-direction: column;
  width: 75vw;
  border-top: 1px solid #dbdbdb;
}

.postTitle {
  text-align: center;
}

.postContent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  width: 100%;
}

.postImageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32.5%;
  height: 170px;
}

.postImage {
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

.postImage:hover {
  filter: brightness();
}

@media only screen and (max-width:735px) {
  .posts{
    border: none;
    width: 98vw;
    margin-left: 5px;
  }
  .postContent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3px;
    width: 100%;
  }
}
