.header {
  display: flex;
  flex-direction: row;
  height: 50px;
  width: 100%;
  border-bottom: solid 1px #dbdbdb;
  justify-content: center;
  background-color: #ffffff;
  position: fixed;
}

.headerComponents {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.headerTitleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.headerTitle {
  margin-top: 5px;
  height: 65%;
  width: 95px;
}

.spacingAfterTitle {
  width: 220px;
}

.search {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 65%;
  width: 230px;
  color: #8e8e8e;
  background-color: #ebebeb;
  border-radius: 6px;
}

.searchIcon {
  margin: 0px 10px 0px 10px;
}

.searchPlaceHolder {
}

.OptionsContainer {
  display: flex;
  flex-direction: row;
  height: 50%;
  width: fit-content;
}

.optionSpacing {
  width: 65px;
}

.options {
  margin: 0px 10px 0 10px;
  width: 20px;
}

.profileIcon {
  position: relative;
  width: 24px;
}

.logoutButton {
  position: absolute;
  right: 5px;
  top: 8px;
  font-size: 13px;
  font-weight: 600;
  background-color: #ebebeb;
  color: #8e8e8e;
  padding: 8px;
}

.profileCard {
  position: absolute;
  width: 180px;
  height: 135px;
  z-index: 3;
  opacity: 1;
  background-color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  border-radius: 3px;
  top: 50px;
  right: 70px;
  box-shadow: 0.5px 0.5px 3px black;
}

.profileCardOptions {
  display: flex;
  flex-direction: row;
  padding: 6px;
}

.profileCardOptions p {
  margin: 0;
  margin-left: 10px;
  width: 100%;
}

.profileCardOptions:hover {
  background-color: #f6f6f6;
}

.profileCardOptionsIconContainer {
  margin-top: auto;
  margin-bottom: auto;
  height: 15px;
  width: 15px;
}

.profileCardOptionsIcon {
  max-height: 100%;
  max-width: 100%;
}

.logoutOption {
  margin: 0;
  padding: 6px;
  padding-left: 10px;
  border-top: 0.5px solid #dbdbdb;
}

.logoutOption:hover {
  background-color: #f6f6f6;
}

.arrowHand {
  position: relative;
  width: 14px;
  height: 14px;
  box-shadow: -0.5px -0.5px 3px black;
  clip-path: inset(0px 1px 1px 0px);
  z-index: 3;
  opacity: 1;
  background-color: #ffffff;
  top: -140px;
  right: -149px;
  transform: rotate(45deg);
}

.logoutDialogContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logoutMessage1 {
  font-size: 17px;
  font-weight: 600;
}

.logoutMessage2 {
  font-size: 13px;
  font-weight: 500;
  color: #8d8d8d;
}

@media only screen and (max-width: 975px) {
  .spacingAfterTitle {
    min-width: 20px;
    width: calc(220px - (975px - 100vw));
  }
  .optionSpacing {
    min-width: 20px;
    width: calc(65px - (975px - 100vw));
  }
}

@media only screen and (max-width: 640px) {
  .search {
    display: none;
  }
  .headerComponents {
    justify-content: space-between;
  }
}

@media only screen and (max-width: 393px) {
  .search {
    display: none;
  }
}
